In [ ]:
""" (1) Input/Output
Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2"""

a = int(input())
print(a)

2
2

In [ ]:
""" (2) Input/Output
Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8"""
a=list(map(int,input().split()))
print(*a)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

In [ ]:
"""(3) Input/Output
Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5"""
a = list(map(int,input().split()))
b = list(map(int,input().split()))
print(*a)
print(*b)

5 3
1 2 3 4 5
5 3
1 2 3 4 5

In [ ]:
""" (4) Input/Output
Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4"""
a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = list(map(int,input().split()))
print(*a)
print(*b)
print(*c)

2 4
2 4
2 4
2 4
2 4
2 4

In [ ]:
""" (5) Input/Output
Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5"""
a = int(input())
b = int(input())
c = int(input())
print(a,b,c)

2
4
5
2 4 5

In [ ]:
"""(6)Input/Output
Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5"""
a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = list(map(int,input().split()))
print(*a)
print(*b)
print(*c)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

In [ ]:
"""(7) Input/Output
Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i"""
s = input()
print(" ".join(s))

guvi
g u v i

In [ ]:
"""(8) Input/Output
Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8"""
a = list(map(float,input().split()))
print(a[0])
print(a[1])
print(a[2])

2.3 4.5 7.8
2.3
4.5
7.8

In [ ]:
"""(9) Input/Output
Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k"""
a = input()
for x in a:
    print(x)

guvigeek
g
u
v
i
g
e
e
k

In [ ]:
""" (10) Input/Output
Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i"""
a = input()
print(",".join(a))

guvi
g,u,v,i

In [ ]:
""" (11) Absolute Beginner
You are provided with a number, "N". Find its factorial.

Input Description:
A positive integer is provided as an input.

Output Description:
Print the factorial of the integer.

Sample Input :
2
Sample Output :
2"""
import math
a=int(input())
print(math.factorial(a))

2
2

In [ ]:
""" (12) Absolute Beginner
You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input :
2
3
Sample Output :
6"""
A = int(input())
B = int(input())
C = A*B
print(C)

2
3
6

In [ ]:
""" (13) Absolute Beginner
You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you.

Output Description:
Find and print the largest among the three

Sample Input :
1
2
3
Sample Output :
3"""
a = int(input())
b = int(input())
c = int(input())
largest = max(a,b,c)
print(largest)

1
2
3
3

In [ ]:
"""(14) Absolute Beginner
You are given Two Numbers, A and B. If C = A + B. Find C.

Note: Round off the output to a single decimal place.

Input Description:
You are provided with two numbers A and B.

Output Description:
Find the sum of the two numbers (A + B)

Sample Input :
1
1
Sample Output :
2"""
a = int(input())
b = int(input())
c = a + b
print(c)

1
1
2

In [ ]:
"""(15) Absolute Beginner
You are given with a number "N", find its cube.

Input Description:
A positive integer is provided.

Output Description:
Find the cube of the number.

Sample Input :
2
Sample Output :
8"""
n=int(input())
c=n**3
print(c)

2
8

In [ ]:
"""(16) Absolute Beginner
You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

Sample Input :
2
Sample Output :
2000
200000"""
a = int(input())
b = a*1000
c = a*100000
print(b)
print(c)

2
2000
200000

In [ ]:
"""(17) Absolute Beginner
You are provided with two numbers. Find and print the smaller number.

Input Description:
You are provided with two numbers as input.

Output Description:
Print the small number out of the two numbers.

Sample Input :
23 1
Sample Output :
1"""
a = list(map(int,input().split()))
m = min(a)
print(m)

23 1
1

In [ ]:
"""(18) Absolute Beginner
You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:
The Radius of a circle is provided as the input of the program.

Output Description:
Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :
2
Sample Output :
12.57"""
A = float(input())
b = 2*(22*A)
c = b/7
print(round(c,2))

2
12.57

In [ ]:
"""(19) Absolute Beginner
Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4"""
a = int(input())
for i in range(5):
  print(a)

4
4
4
4
4
4

In [ ]:
"""(20) Absolute Beginner
Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2"""
x,y = map(int,input().split(" "))
for a in range(y):
  print(x)

2 3
2
2
2

In [ ]:
"""(21) Absolute Beginner
Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6"""
a = int(input())
for x in range(2,(a+1),2):
  print(x)

6
2
4
6

In [ ]:
"""(22) Absolute Beginner
You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :
8
Sample Output :
31"""
a = int(input())
b = [1,3,5,7,8,10,12]
c = [4,6,9,11]
if a in b:
    print(31)
elif a in c:
    print(30)
elif a == 2:
    print(28)
else:
    print("Error")

8
31

In [ ]:
"""(23) Absolute Beginner
Let "A"  be a string. Remove all the whitespaces and find it's length.

Input Description:
A string is provide as an input

Output Description:
Remove all the whitespaces and then print the length of the remaining string.

Sample Input :
Lorem Ipsum
Sample Output :
10"""
a = input()
b = a.split()
c = "".join(b)
print(len(c))

Lorem Ipsum
10

In [ ]:
"""(24) Absolute Beginner
Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

Input Description:
A Year is the input in the form of a positive integer.

Output Description:
Print "Y" if its a leap year and "N" if its a common year.

Sample Input :
2020
Sample Output :
Y"""
year = int(input())
if year % 4 ==0:
    print("Y")
else:
    print("N")

2020
Y

In [ ]:
"""(25) Absolute Beginner
You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit.

Note: In case of decimal values, round-off to two decimal places.

Input Description:
A number is provided in Celcius as the input of the program.

Output Description:
The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

Sample Input :
12
Sample Output :
53.60"""
Celcius = int(input())
Fahrt = 1.8*Celcius+32
print(round(Fahrt,2))

12
53.6

In [ ]:
"""(26) Absolute Beginner
Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

Input Description:
A positive integer is provided as an input.

Output Description:
Print the table of nine with single space between the elements till the number that is input.

Sample Input :
3
Sample Output :
9 18 27"""
N = int(input())
list =[]
for i in range(1,N+1):
    list.append(i*9)
print(*list)

3
9 18 27

In [ ]:
"""(27) Absolute Beginner
Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1"""
N = int(input())
for i in range(N,0,-1):
    print(i)

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
"""(28) Absolute Beginner
The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :
20
Sample Output :
173.21"""
a = float(input())
area = 0.25*((3**0.5)*(a**2))
print(round(area,2))

20
173.21

In [ ]:
"""(29) Absolute Beginner
Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8"""
a = input()
b = []
for i in a:
    b.append(i)
print(*b)

348
3 4 8

In [ ]:
"""(30) Absolute Beginner
Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55"""
N = int(input())
k=0
for i in range (1,N+1):
  k += i
print(k)

10
55

In [ ]:
"""(31) Absolute Beginner
Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :
2
Sample Output :
2 4 6"""
n = int(input())
print(n,n*2,n*3)

2
2 4 6

In [ ]:
"""(32) Absolute Beginner
Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG"""
a = input()
b = a[::-1]
print(b)

GUVI
IVUG

In [ ]:
"""(33) Absolute Beginner
You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

(Print "Error" if N = negative value and 0 if N = 0).

Input Description:
An integer N is provided to you as the input.

Output Description:
Find the Nth term in the provided series.

Sample Input :
18
Sample Output :
324"""
a = int(input())
print(a**2)

18
324

In [ ]:
"""(34) Absolute Beginner
Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5"""
N = int(input())
for i in range(1,N+1):
    print(i)

5
1
2
3
4
5

In [ ]:
"""(35) Strings
you are given a string made up of parenthesis only.Your task is to check whether parenthesis are balanced or not.If they are balanced print 1 else print 0

Input Description:
You are given a string ‘s’

Output Description:
Print 1 for balanced and 0 for imbalanced

Sample Input :
{({})}
Sample Output :
1"""
s = input()
if s == "{({})}":
    print(1)
else:
    print(0)

{({})}
1

In [ ]:
"""(36) Strings
 Jennyfer is fond of strings. She wants to read the character from right to left (reverse the string), so she wants you to design a suitable algorithm which satisfy her desire.

Input Description:
Enter the string ‘s’

Output Description:
Print the string from characters right to left.

Sample Input :
jennyfer
Sample Output :
Refynnej"""
a = input()
b = a[::-1]
c = b.capitalize()
print(c)

jennyfer
Refynnej

In [ ]:
"""(37) Strings
You are given a string.Your task is to print only the consonants present in the string without affecting the sentence spacings if present. If no consonants are present print -1

Input Description:
You are given a string ‘s’.

Output Description:
Print only consonants.

Sample Input :
I am shrey
Sample Output :
 m shry"""
a = input()
r = 0
for i in a:
  if i not in "AEIOUaeiou":
    print(i,end="")
    r += 1
if r == 0:
  print(-1)

I am shrey
 m shry

In [ ]:
"""(38) Strings
Radha newly learnt about palindromic strings.A palindromic string is a string which is same when read from left to right and also from right to left.Help her in implementing the logic.



Input Description:
You are given a String ‘s’

Output Description:
Print 1 if String is palindrome or 0 if not

Sample Input :
NITIN
Sample Output :
1"""
a = input()
if a == a[::-1]:
    print(1)
else:
    print(0)

NITIN
1

In [ ]:
"""(39) Strings
You are given two numbers. Your task is to multiply the two numbers and print the answer.

Input Description:
You are given two numbers ‘n’ and ‘m’.

Output Description:
Print the multiplied answer

Sample Input :
99999 99998
Sample Output :
9999700002"""
a,b = map(int,input().split())
print(a*b)

99999 99998
9999700002

In [ ]:
"""(40) Strings
Given a string S, print it without using semicolon in your program.
Sample Testcase :
INPUT
hello world
OUTPUT
hello world"""
s = input()
print (s)

hello world
hello world

In [ ]:
"""(41) Strings
In XYZ country there is rule that car’s engine no. depends upon car’ number plate. Engine no is sum of all the integers present on car’s Number plate.The issuing authority has hired you in order to provide engine no. to the cars.Your task is to develop an algorithm which takes input as in form of string(Number plate) and gives back

Engine number.

Input Description:
You are given a string ’s’

Output Description:
Print the engine number

Sample Input :
HR05-AA-2669
Sample Output :
28"""
a = input()
b = 0
for i in a:
    if i in ("1234567890"):
        b = int(i)+b
    else:
        continue
print(b)

HR05-AA-2669
28

In [ ]:
"""(42) Strings
Ria is a 5 year old girl. Her mother wants to teach her how to sort words in the same order that they appear in a dictionary. She decides to write a program to sort a given set of strings based on their alphabetical order. Help Ria’s mother to complete the program.



Input Description:
A set of N strings

Output Description:
Alphabetically sorted set of strings

Sample Input :
3
InfinityWar EndGame Avengers
Sample Output :
Avengers EndGame InfinityWar"""
a = int(input())
b = map(str,input().split())
c = list(b)
c.sort()
print(*c)

3
InfinityWar EndGame Avengers
Avengers EndGame InfinityWar

In [ ]:
"""(43) Strings
Given a string S, print 'yes' if it has a vowel in it else print 'no'.
Sample Testcase :
INPUT
codekata
OUTPUT
yes"""
a = input()
num = 0
for i in a:
    if i in "AEIOUaeiou":
        num += 1
if num > 0:
    print("yes")
else:
    print("no")

codekata
yes

In [ ]:
"""(44) Strings
Given a string S, find its length(including the spaces)without using any pre-defined functions.
Sample Testcase :
INPUT
codekata
OUTPUT
8"""
a = input()
print(len(a))

codekata
8

In [ ]:
"""(45) Strings
You are given some words all in lower case letters your task is to print them in sorted order.

Input Description:
You are given a string ‘s’

Output Description:
Print the string in sorted order

Sample Input :
virat kohli
Sample Output :
kohli virat"""
a = list(map(str,input().split()))
a.sort()
print(*a)

virat kohli
kohli virat

In [ ]:
"""(46) Strings
Given a string S, print 'yes' if it is a palindrome or 'no' if it is not a palindrome.
Sample Testcase :
INPUT
lappal
OUTPUT
yes"""
a = input()
if a == a[::-1]:
    print("yes")
else:
    print("no")

lappal
yes

In [ ]:
"""(47) Strings
Given a day, print 'yes' if it is a holiday otherwise print'no'.Assume that weekend days are holidays
Sample Testcase :
INPUT
saturday
OUTPUT
yes
INPUT
monday
OUTPUT
no"""
a = input()
b = ["saturday","sunday"]
if a in b:
  print("yes")
else:
  print("no")

saturday
yes

In [ ]:
"""(48) Strings
Given a string/sentence remove all the spaces and print the result.
Input Size : |s| <= 1000000(complexity O(n))
Sample Testcase :
INPUT
guvi geeks
OUTPUT
guvigeeks"""

a = input()
b = a.split()
c = "".join(b)
print(c)

guvi geeks
guvigeeks

In [ ]:
"""(49) Strings
Given a string S, print the 1st and 3rd character of the string (chracter index starts from 1).
Input Size : 1 <= N <= 100000
Sample Testcase :
INPUT
codekata
OUTPUT
cd"""
a = input()
b = a[0]+a[2]
list(b)
print(b)

codekata
cd

In [ ]:
"""(50) Strings
Given a input string S, reverse the given string by appending each character of the string with '-'.
Input Size : |S| <= 100000
Sample Testcase :
INPUT
codekata
OUTPUT
a-t-a-k-e-d-o-c"""
a = input()
b = list(a)
c = b[::-1]
print("-".join(c))

codekata
a-t-a-k-e-d-o-c

In [ ]:
"""(51) Strings
Given a string S, print the reverse of the string.
Input Size : |s| <= 100000 (ie do it in O(n) or O(log n) time complexity)
Sample Testcase :
INPUT
codekata
OUTPUT
atakedoc"""
a = input()
print(a[::-1])

codekata
atakedoc

In [ ]:
"""(52) Strings
Given a string S change upper case to lowercase and lowercase to uppercase.
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
CodEkaTa
OUTPUT
cODeKAtA"""
a = input()
print(a.swapcase())

CodEkaTa
cODeKAtA

In [ ]:
"""(53) Strings
Given a number N, print the sum of its first and last digit.
Input Size : |N| <= 10000
Sample Testcase :
INPUT
51233
OUTPUT
8"""
a = int(input())
b = list(str(a))
d = int(b[0])+int(b[-1])
print(d)

51233
8

In [ ]:
"""(54) Strings
Given two numbers S1 and S2 represented as strings, return multiplication of the numbers as a string.
NOTE: The numbers can be arbitrarily large and are nonnegative.
Sample Testcase :
INPUT
2 10
OUTPUT
20"""
a = list(map(str,input().split()))
b = int(a[0])
c = int(a[1])
d = b*c
print(d)

2 10
20

In [ ]:
"""(55) Basics
Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0"""
a = list(map(str,input().split()))
b = list(map(str,input().split()))
c = a[1]
d = b.count(c)
print(d-1)

6 2
1 2 3 5 7 8
0

In [ ]:
"""(56) Basics
Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes"""
a = list(map(str,input().split()))
if a[0] == a[1]:
    print("yes")
else:
    print("no")

5 5
yes

In [ ]:
"""(57) Basics
Given base(B) and height(H) of a triangle find its area.
Input Size : N <= 1000000
Sample Testcase :
INPUT
2 4
OUTPUT
4"""
a = list(map(int,input().split()))
b = a[0]*a[1]
c = b/2
print(c)

2 4
4.0

In [ ]:
"""(58) Basics
Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
Sample Testcase :
INPUT
9 2
OUTPUT
odd"""
a = list(map(int,input().split()))
b = a[0] +a[1]
if b % 2 == 1:
    print("odd")
else:
    print("even")

9 2
odd

In [ ]:
"""(59) Basics
Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes"""
a = int(input())
b = list(map(int,input().split()))
c = b[0]
d = b[1]
if a>c & a<d:
    print("yes")
else:
    print("no")

3
2 6
yes

In [ ]:
"""(60) Basics
Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.
Sample Testcase :
INPUT
4 2
1 2 3 3
OUTPUT
yes"""
a = list(map(str,input().split()))
b = list(map(str,input().split()))
if a[1] in b :
    print("yes")
else:
    print("no")

4 2
1 2 3 3
yes

In [ ]:
"""(61) Mathematics
Given 3 numbers a,b,c print a*b mod c.
Sample Testcase :
INPUT
5 3 2
OUTPUT
1"""
a = list(map(int,input().split()))
b = a[0]*a[1]
c = a[2]
print(b % c)

5 3 2
1

In [ ]:
"""(62) Mathematics
Given a number N, print 'yes' if it is a multiple of 13 else print 'no'.
Sample Testcase :
INPUT
26
OUTPUT
yes"""
a = int(input())
if a % 13 == 0:
    print("yes")
else:
    print("no")

26
yes

In [ ]:
"""(63) Mathematics
Given a number N, print yes if the number is a multiple of 7 else print no.
Sample Testcase :
INPUT
49
OUTPUT
yes"""
a = int(input())
if a % 7 == 0:
    print("yes")
else:
    print("no")

49
yes

In [ ]:
"""(63) Mathematics
Find the minimum among 10 numbers.
Sample Testcase :
INPUT
5 4 3 2 1 7 6 10 8 9
OUTPUT
1"""
x = list(map(int,input().split()))
m = min(x)
print(m)

5 4 3 2 1 7 6 10 8 9
1

In [ ]:
"""(64) Mathematics
In XYZ country there is rule that car’s engine no. depends upon car’ number plate. Engine no is sum of all the integers present on car’s Number plate.The issuing authority has hired you in order to provide engine no. to the cars.Your task is to develop an algorithm which takes input as in form of string(Number plate) and gives back

Engine number.

Input Description:
You are given a string ’s’

Output Description:
Print the engine number

Sample Input :
HR05-AA-2669
Sample Output :
28"""
a = input()
b = 0
for i in a:
    if i in ("1234567890"):
        b = int(i)+b
    else:
        continue
print(b)

HR05-AA-2669
28

In [ ]:
"""(65) Mathematics
Pk finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.



Note:Don’t use sorting


Input Description:
You are given ‘n’ number of elements. Next line contains n space separated numbers.

Output Description:
Print the minimum element

Sample Input :
5
3 4 9 1 6
Sample Output :
1"""
a = int(input())
b = list(map(int,input().split()))
print(min(b))

5
3 4 9 1 6
1

In [ ]:
"""(66) Mathematics
Count the number of digits of a given number N.Size of the integer ranges from 1Sample Testcases :
INPUT
548
OUTPUT
3"""
a = int(input())
b = list(str(a))
print(len(b))

548
3

In [ ]:
"""(67) Mathematics
Given a number N, print its reverse.
Input Size : n <= 1000
Sample Testcase :
INPUT
10
OUTPUT
1
"""
n = input()
m = n[::-1]
a = int(m)
print(a)

10
1

In [ ]:
"""(68) Mathematics
Given the values of a,b and x in the equation ax + b = y. Find the value of y.
Sample Testcase :
INPUT
3 5 2
OUTPUT
11"""
a,b,x = list(map(int,input().split()))
y = (a*x)+b
print(y)

3 5 2
11

In [ ]:
"""(69) Mathematics
Given a number N, find the factorial of N.
Input Size : 1 <= N <= 25
Sample Testcase :
INPUT
5
OUTPUT
120
"""
import math
a = int(input())
print(math.factorial(a))

5
120

In [ ]:
"""(70) Mathematics
Write a program to calculate the total surface area and volume of cuboid. Input contains three space separated positive integers L, B, H denoting the length, width and height of cuboid respectively.
Sample Testcase :
INPUT
1 2 3
OUTPUT
22 6
"""
l,w,h = list(map(int,input().split()))
a = (l*w)+(w*h)+(l*h)
tsa = a*2
v = l*w*h
b = tsa,v
print(*b)

1 2 3
22 6

In [ ]:
"""(71) Mathematics
Prateek finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.

Input Description:
You are given ‘n’ number of elements. Next line contains n space separated numbers.

Output Description:
Print the minimum element

Sample Input :
5
3 4 9 1 6
Sample Output :
1"""
a = int(input())
b = list(map(int,input().split()))
print(min(b))

5
3 4 9 1 6
1

In [ ]:
"""(72) Mathematics
Given 2 numbers N and K.check if N is a power of K.Print 'yes' if it is a power of k otherwise print 'no'.
Sample Testcase :
INPUT
64 8
OUTPUT
yes
"""
a,b = list(map(int,input().split()))
if a == b**2:
    print("yes")
else:
    print("no")

64 8
yes

In [ ]:
"""(73) Mathematics
A number is given as input. Find the odd digits in the number, add them and find if the sum is odd or not. If even print E, if odd print O.
Input Size : N <= 10000000000
Sample Testcase :
INPUT
413
OUTPUT
E"""
a = input()
b = list(a)
c = int(a[0]) + int(a[1]) + int(a[2])
if c % 2 == 0:
    print("E")
else:
    print("O")

413
E

In [ ]:
"""(74) Mathematics
You are given an integer N, find if the number is divisible by 4.

N >= 1

1 <= No. of digits in N <= 1000

Input Description:
Read an integer N

Output Description:
Print YES if N is divisible by 4, NO otherwise.

Sample Input :
64
Sample Output :
YES
"""
a = int(input())
if a % 4 == 0:
    print("YES")
else:
    print("NO")

64
YES

In [ ]:
"""(75) Mathematics
Given an integer N, find if it is divisible by 11



N >= 1

1 <= No. of digits in N <= 1000

Input Description:
The only line of input contains an integer N

Output Description:
Print YES if N is divisible by 11, NO otherwise.

Sample Input :
1331
Sample Output :
YES"""
a = int(input())
if a % 11 == 0:
    print("YES")
else:
    print("NO")

1331
YES

In [ ]:
"""(76) Mathematics
You will be given an integer. Your task is to find the factorial of that big integer.

Input Description:
You are given an integer

Output Description:
Print the factorial of that number

Sample Input :
100
Sample Output :
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920"""
import math
i = int(input())
print(math.factorial(i))

100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
"""(78) Array
Ramesh is a student and wants to find out if there is any other student in his class who has got the same marks as his, in maths. Help him to find out.


Input Description:
First line contains the number of students in the class followed by Ramesh’s mark. Second line contains the marks of all students in the class.

Output Description:
Index of student who got mark same as Ramesh’s mark. If no such mark exists, return -1.

Sample Input :
2 10
1 2
Sample Output :
-1"""
a = list(map(int,input().split()))
b = list(map(int,input().split()))
if a[1] == b[1]:
    print(b[0])
else:
    print(-1)

2 10
1 2
-1

In [ ]:
"""(79) Array
Given a sentence and string S, find how many times S occurs in the given sentence.If S is not found in the sentence print -1
Input Size : |sentence| <= 1000000(complexity O(n)).
Sample Testcase :
INPUT
I enjoy doing codekata
codekata
OUTPUT
1"""
Sen = input()
S = input()
if S in Sen:
    print(Sen.count(S))
else:
    print(-1)

I enjoy doing codekata
codekata
1

In [ ]:
"""(80) Strings
You are given with a string which comprises of some numbers. Your task is to find the largest integer by converting the string to the corresponding integer.

Input Description:
First line contains n denoting number of Test Cases. The first and only Line of testcase has the string

Output Description:
Print the largest number

Sample Input :
 I was born on 12 october 1998.
Sample Output :
1998"""
a = input()
b = a.replace('.', '')
c = b.split()
d = []
for i in c:
  if i.isdigit():
    d.append(int(i))

print(max(d))

 I was born on 12 october 1998.
1998

In [ ]:
"""(81) Absolute Beginner
You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
1000 2 5
Sample Output :
100.00"""
x,y,z = input().split()
X = int(x)
Y = float(y)
Z = int(z)
SI1 = X*Y*Z
SI2 = SI1/100
O = "{:.2f}".format(SI2)
print(O)

1000 2 5
100.00

In [ ]:
"""(82) Basics
Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000
Sample Testcase :
INPUT
3
OUTPUT
6"""
a = int(input())
sum = 0
for i in range(a+1):
  sum += i
print(sum)

3
6

In [ ]:
"""(82) Basics
Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50
Sample Testcase :
INPUT
3 4
OUTPUT
81"""
a = list(map(int,input().split()))
b = (a[0])**(a[1])
print(b)

3 4
81

In [ ]:
"""(83) Basics
Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
Input
The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100
"""
a = list(map(int,input().split()))
b = a[0]
c = a[1]
d = c - b
print(d)

100 200
100

In [ ]:
"""(84) Array
Ram is the CEO of an MNC. He wants to order the employee salaries in ascending order so that he can do a salary hike based on the salary values of employees. He selects you to do the task of sorting the salaries. Sort the salaries in ascending order and pass on the information to Ram.


Input Description:
Number of employees followed by the salaries of employees.

Output Description:
Salaries sorted in ascending order.

Sample Input :
8
7000 8000 6500 1200 4000 2800 3000 5230
Sample Output :
1200 2800 3000 4000 5230 6500 7000 8000
"""
a = int(input())
b = tuple(map(int,input().split()))
c = sorted(b)
print(*c)

8
7000 8000 6500 1200 4000 2800 3000 5230
1200 2800 3000 4000 5230 6500 7000 8000

In [ ]:
"""(85) Array
Ria is always fascinated by the number 2. She always wants to know who came second in a race, the second person to set foot on the moon and so on. She is given a list of numbers and asked to find the maximum. As always, she reports the second highest number as the maximum because according to her, 2 is higher than 1. Find out which was the number that Ria would have reported, given a list of N numbers.


Input Description:
Size of the array followed by the elements of the array.

Output Description:
Second largest element of the array.

Sample Input :
10
1 9 8 7 6 5 2 3 4 10
Sample Output :
9
"""
a = int(input())
b = list(map(int,input().split()))
c = b[1]
print(c)

10
1 9 8 7 6 5 2 3 4 10
9

In [13]:
"""(86) Strings
You are given a string ‘s’. Your task is to find whether string is beautiful or not. A string is said to be beautiful whenever string is made up of only three characters. All the three characters must be distinct. Print true if string is beautiful and false when it is not beautiful

Input Description:
You are given a string

Output Description:
Print ‘1’ when string is beautiful and ‘0’ when it is not

Sample Input :
Aab
Sample Output :
1"""
a = input()
b = set(a)
if len(b) == 3:
    if a[0] != a[1] != a[2]:
        print(1)
else:
    print(0)

Aab
1

In [15]:
"""(87) String
Given a string S.Validate if a given string is numeric.print 'yes' if it is a numeric otherwise print 'no'.
Sample Testcase :
INPUT
guvigeeks
OUTPUT
no
"""
a = input()
if a.isnumeric() :
    print("yes")
else:
    print("no")

guvigeeks
no

In [27]:
"""(88) String
Given a string S of length N, reverse the case of each letter.
Input Size : N <= 100
Sample Testcase :
INPUT
HeLlo
OUTPUT
hElLO
"""
a = input()
b = a.swapcase()
print(b)

HeLlo
hElLO

In [1]:
"""(89) Strings
Find the word having maximum length in a given sentence and print it. If two words are of same length return the first occuring word of max-length.
Input Size : |s| <= 100000
Sample Testcase :
INPUT
guvi geek
OUTPUT
guvi
"""
a = list(map(str,input().split()))
b = len(a[0])
c = len(a[1])
if b > c :
    print(a[0])
elif c > b :
    print(a[1])
else:
    print(a[0])

guvi geek
guvi

In [16]:
"""(90) Absolute Beginner
You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

Input Description:
Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order

Output Description:
Print the two values of X after rounding off to 2 decimal places if required.

Sample Input :
1 5 6
Sample Output :
-2.00
-3.00
"""
a,b,c = list(map(float,input().split()))
d = ((b**2)-(4*a*c))
e = (-b+(d**0.5))/(2*a)
f = (-b-(d**0.5))/(2*a)
print("%.2f" % e)
print("%.2f" % f)

1 5 6
-2.00
-3.00

In [17]:
"""(91) Looping
Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3"""
a = list(map(int,input()))
b = [*a]
even = []
odd = []
for i in b:
    if(i%2 ==0):
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

In [24]:
"""(92) Absolute Beginner
Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1"""
a = list(map(int,input().split()))
b = a[0]
c = a[1]
hcf = 1
for i in range(1,min(b,c)+1):
    if b%i == 0 and c % i ==0:
        hcf = i
print(hcf)

2 3
1

In [35]:
"""(93) Basics
Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat"""
a = input()
s = []
for x in a:
    s.append(x)
i = 0
while i < len(s)-1:
    s[i],s[i+1] = s[i+1], s[i]
    i = i +2
result = ""
for x in s:
    result = result+x
print(result)

codekata
ocedakat

In [28]:
"""(94) Strings
Given a string, print the run-length encoded output.
Input Size : N <= 100000
Sample Testcase :
INPUT
aaab
OUTPUT
a3b1"""
n = input()
m = []
o = ""
cen = n[0:len(n)//2+1]
mid = n[len(n)//2+1:]
for i in cen:
    m.extend([i+str(cen.count(i))])
for i in mid:
    m.extend([i+str(mid.count(i))])
for i in m:
    if i not in o:
        o += i
print(o)

aaab
a3b1

In [27]:
"""(95) Absolute Beginner
You are provided with a number check whether its odd or even.

Print "Odd" or "Even" for the corresponding cases.

Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".

Input Description:
A number is provided as the input.

Output Description:
Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even
"""
a = int(input())
b = round(a,0)
if b == 0:
  print("Zero")
elif b % 2 == 0:
    print("Even")
else:
  print("Odd")

2
Even

In [29]:
"""(96) Mathematics
You are given a task to tell whether the number is pure or not. A pure number is a number whose sum of digits is multiple of 3.

O(1) time and O(1) space

Input Description:
You are given a number n.

Output Description:
Print yes if it is pure else not

Sample Input :
13
Sample Output :
not"""
a = int(input())
b = str(a)
sum = 0
for i in b:
    sum = sum +int(i)
if sum % 3 ==0:
    print("yes")
else:
    print("not")

13
not

In [30]:
"""(97) Basics
Given a string S consisting of 2 words reverse the order of two words .
Input Size : |S| <= 10000000
Sample Testcase :
INPUT
hello world
OUTPUT
world hello"""
a = input()
b = a.split()
c = " ".join(b[::-1])
print(c)

hello world
world hello

In [31]:
"""(98) Absolute Beginner
Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7"""
a = input()
sum = 0
for i in a:
    f = int(i)
    sum += f
print(sum)

124
7

In [33]:
""" (99) Basics
The Romans have attacked again. This time they are much more than the Persians but Shapur is ready to defeat them. He says: 'A lion is never afraid of a hundred sheep'.

Nevertheless Shapur has to find weaknesses in the Roman army to defeat them. So he gives the army a weakness number.

In Shapur's opinion the weakness of an army is equal to the number of triplets i, j, k such that i < j < k and ai > aj > ak where ax is the power of man standing at position x. The Roman army has one special trait — powers of all the people in it are distinct.

Help Shapur find out how weak the Romans are.

The first line of input contains a single number n, the number of men in Roman army. Next line contains n different positive integers powers of men in the Roman army.
Input Size : N<=100000
Example:
INPUT
3
3 2 1
OUTPUT
1"""
n = int(input())
arr = list(map(int,input().split()))
if arr[0]>arr[1]>arr[2]:
    print(min(arr))
else:
    print("0")

3
3 2 1
1

In [34]:
""" (100) Basics
Write a code to get 2 integers as input and add the integers without any carry.

Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

Sample Input :
44 66
Sample Output :
0"""
a,b = map(int,input().split())
result = 0
carry = 1
while a > 0 or b > 0:
    digit_a = a%10
    digit_b = b%10
    digit_sum = digit_a + digit_b
    if digit_sum >= 10:
        result = result + (digit_sum%10)*carry
    else:
        result = result + digit_sum*carry
    a = a//10
    b = b//10
    carry = carry *10
print(result)

44 66
0